{% extends 'bootstrap.html' %}
{% block title %}
 Login
{% endblock %}

{% block content %}
<form action="/accounts/login/" method="post">
  {% csrf_token %}<br> <h1>LOGIN</h1>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="lname" aria-describedby="basic-addon1">
</div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="lpass">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  Don't have an account?<a href="/accounts/signin/">Sign-in</a>
</form>
{% endblock %}